AWS_REGION=ap-south-1
KINESIS_STREAM_NAME=clickstream
EVENT_INTERVAL_SECONDS=1
S3_OUTPUT_BUCKET=your-bucket-name
FIREHOSE_STREAM_NAME=your-firehose-stream-name
ATHENA_DATABASE=explo_capstone
AWS_ACCOUNT_ID=your-account-id
AWS_REGION=ap-south-1
KINESIS_STREAM_NAME=clickstream
EVENT_INTERVAL_SECONDS=1
S3_OUTPUT_BUCKET=your-clickstream-bucket
